body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('./images/section_park_2.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: rgb(199, 197, 197);
  position: relative;
  /* 让子元素相对于 body 定位 */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(92, 87, 87, 0.5);
  /* 半透明黑色遮罩 */
  z-index: -1;
  /* 让遮罩保持在背景上，不影响文字 */
}


.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  width: 30%;
  /* 佔 30% 的寬度 */
  display: flex;
  /* 使用 flexbox 來置中 */
  justify-content: center;
  /* 水平置中 */
  align-items: center;
  /* 垂直置中 */
}


.footer-logo-top {
  padding-top: 1rem;
  padding-left: 1rem;
  max-width: 100%;
  /* 確保圖片不超過父容器 */
  height: auto;
  /* 保持圖片比例 */
}

#footer-logo {
  width: 263px;
  height: auto;
}

.footer-logo {
  width: 150px;
  height: auto;
}

.nav-buttons {
  padding-right: 4rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-buttons button {
  background-color: #ffffff00;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Noto Serif TC', serif;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
}


.nav-buttons :hover {
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
  color: #ffcb78;
}

.nav-buttons button:active {
  transform: translateY(0);
}

#search-result table {
  z-index: 100;
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  border-radius: 2px;
  background-color: rgb(0, 0, 0, 0.8);
  /* 改為完全不透明的黑色 */
}

#search-result table th,
#search-result table td {
  font-size: 1.2rem;
  border: 1px solid #000000;
  padding: 8px;
  font-weight: unset;
  text-align: center;
  color: rgb(255, 255, 255);
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.loader {
  position: relative;
  font-size: 48px;
  letter-spacing: 2px;
}

.loader:before {
  content: "";
  display: block;
  width: 200px;
  height: 100px;
  background-image: url('./images/mvdlogo4.png');
  /* 替換為你的圖片路徑 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;

}

.loader:after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #8448AE;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
  top: -70px;
  animation: motion 3s ease-in-out infinite;
}

.hide-loading {
  transform: translate(-50%, -150%);
  opacity: 0;
  pointer-events: none;
}

@keyframes motion {

  0%,
  50%,
  100% {
    transform: translateX(0) scale(1);
  }

  25% {
    transform: translateX(-100px) scale(0.3);
  }

  75% {
    transform: translateX(100px) scale(0.3);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes backgroundZoom {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 120%;
  }
}


/* 修改表格樣式 */
table {
  z-index: 100;
  width: 100%;
  margin: 10px 0;
}


.table-members p {
  text-align: center;
  color: rgb(255, 255, 255);
  opacity: 1;
}

button,
input {
  /* background-color: #000000; */
  color: white;
  /* border: 1px solid #444; */
}

#search-result {
  color: white;
}

.search-result {
  z-index: 100;
}

label {
  color: white;
}

.intro-section,
.search-section,
.parking-info-section {
  background-image: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.intro-section::before,
.search-section::before,
.parking-info-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}


.intro-container,
.search-container,
.parking-info-container {
  position: relative;
  z-index: 2;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-row {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.parkintable {
  width: 30px;
  height: 30px;
}

.big-icon {
  font-size: 8px;
}

.intro-container,
.search-container,
.parking-info-container {
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  font-family: cursive;
  border-radius: 8px;
  color: #643601;
  padding: 4rem 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(235, 228, 210, 0.788);
}

.intro-container p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: bold;
}

.markers {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid yellow;
  background-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: blink 1s infinite;
}

.intro-title {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 48px;
  line-height: 1.2;
  margin: 0 auto;
  justify-content: center;
}

.intro-title-left,
.intro-title-right {
  width: 6%;
  border-top: 2px solid #7e490ebe;
}

.intro-title-right {
  border-right: 2px solid #7e490ebe;
}

.intro-title-left {
  border-left: 2px solid #7e490ebe;
}

.intro-title-left,
.intro-title-right,
.intro-title-center {
  border-bottom: 2px solid #7e490ebe;
}



.intro-title h2 {
  font-family: cursive;
  position: relative;
  color: #643601;
  top: -15px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  font-size: 1.4rem;
}


.input-container {
  position: relative;
  display: flex;
  flex: row;
}

.search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #000;
  font-size: xx-large;
  font: bold;
}

.search-box:hover {
  color: #ffffff;
}

#nameInput {
  padding: 20px;
  padding-right: 50px;
  /* Make room for the icon */
  margin: 10px;
  height: auto;
  width: 300px;
  font-size: x-large;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

input::placeholder {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

/* .search-icon {
  position: absolute;
  right: 25px; 
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: x-large;
  cursor: pointer; 
  } */


#submitBtn {
  background-color: #000000;
}

h1 {
  font-size: x-large;
}


.search-container label {
  color: white;
  font-weight: bold;
}

.search-container input {
  padding: 8px;
  border-radius: 4px;
  border: none;
}

/* .search-container button {
padding: 8px 16px;
border-radius: 4px;
border: none;
font: bold;
font-size: 1rem;
margin-left: 1rem;
background-color: #0000008f;
color: rgb(255, 255, 255);
cursor: pointer;
} */

.search-container button:hover {
  color: #ffcb78;
  background-color: #000000ea;
  transform: translateY(-2px);
}


header {
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.7) 30%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0) 100%);

  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}



/* 調整圖片容器大小 */
#image-container,
#parking-image-container {
  position: relative;
  /* 設置相對定位，讓內部元素可以絕對定位 */
  display: flex;
  justify-content: center;
  /* 水平置中 */
  align-items: center;
  /* 垂直置中 */
  width: fit-content;
  margin: 0 auto;
  /* height: 500px; 設定容器高度，可根據需求調整 */
}

#parking-image,
#result_with_circles {
  width: 450px;
  /* 讓圖片適應容器 */
  height: 318px;
  display: block;
  border-radius: 5px;

}

#image-container div {
  position: absolute;
  /* 讓內部 div 絕對定位 */
}

#image-container div svg {
  width: 50px;
  /* 設定箭頭大小 */
  height: 50px;
}

/* 設定箭頭A的位置 */
#image-container div:nth-child(2) {
  top: 66%;
  /* 根據需求調整 */
  left: 54%;
}

/* 設定箭頭B的位置 */
#image-container div:nth-child(3) {
  top: 2%;
  left: 46%;

}

/* 設定箭頭C的位置 */
#image-container div:nth-child(4) {
  top: 23%;
  left: 46%;

}

/* 設定箭頭D的位置 */
#image-container div:nth-child(5) {
  top: 53%;
  left: 46%;

}

/* 設定箭頭E的位置 */
#image-container div:nth-child(6) {
  top: 73%;
  left: 46%;

}

.search-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.map-section {
  display: flex;
  justify-content: center;
}

.area-A,
.area-B,
.area-C,
.area-D,
.area-E {
  /* visibility: hidden; */
  display: none;
}

.parking-img-P1,
.parking-img-P2,
.parking-img-P3,
.parking-img-P4,
.parking-img-P5,
.parking-img-P6,
.parking-img-P7 {
  display: none;
}

#parking-p1,
#parking-p2,
#parking-p3,
#parking-p4,
#parking-p5,
#parking-p6,
#parking-p7,
#parking-h {
  border: #000000 1px solid;
  border-radius: 5px;
}



.parking-marker {
  position: absolute;
  /* opacity: 0; */

  /* cursor: pointer; */
}

.home-marker {
  position: absolute;
  padding: 10px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #ff0000;
  left: 48%;
  top: 32%;
  transform: translate(-50%, -50%);
  animation: homeBlink 3s infinite ease-in-out;
  /* background-image: url('./images/phome.png');
  background-size: cover;
  background-position: center; */
}

.home-marker img {
  width: 100%;
  height: 100%;
}

@keyframes homeBlink {
  0% {
    /* opacity: 1; */
    transform: scale(1.1);
  }

  50% {
    /* opacity: 0.2; */
    border: 2px solid #990000;
    transform: scale(1);
  }

  100% {
    /* opacity: 1; */
    transform: scale(1.1);
  }
}


.P1 {
  left: 85%;
  top: 47%;
}

.P2 {
  left: 58%;
  top: 20%;
}

.P3 {
  left: 33%;
  top: 30%;
}

.P4 {
  left: 25%;
  top: 60%;
}

.P5 {
  left: 71%;
  top: 70%;
}

.P6 {
  left: 10%;
  top: 66%;
}

.P7 {
  left: 30%;
  top: 40%;
}

@keyframes homeBlink2 {
  0% {
    opacity: 1;
    transform: scale(1.1);
  }

  50% {
    opacity: 0.2;
    border: 2px solid #000000;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}






footer {
  background-color: #ffffff;
  text-align: center;
  color: rgb(199, 197, 197);
  bottom: 0;
  width: 100%;
  position: relative;
  z-index: 100;
}

footer p {
  font-size: 0.5rem;
}

.footer-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #474747;
}

.footer-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 30%;
  height: 100%;
}



.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 70%;
  /* 右側佔70% */
}

.contact-item-mvd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(0, 0, 0);
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: black;
}

.contact-item b {
  font-size: 0.8rem;
}

.contact-item i {
  font-size: 1.2rem;
  color: black;
}

.footer-copyright {
  text-align: center;
  margin-top: 15px;
  color: black;
}

.copyright {
  background-color: #000000;
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 12px;
  padding: 1rem 0;
}

.header-images {
  display: flex;
  align-items: center;
  /* 垂直置中 */
  justify-content: center;
  /* 水平置中 */
  height: 100%;
  /* 確保有足夠高度進行垂直置中 */
  width: 30%;
  z-index: 900;
}

.header-images img {
  position: relative;
  left: 10%;
  width: 260px;
  height: auto;
  object-fit: contain;
  /* 保持圖片比例 */
}

/* 自定義滾輪樣式 */
body::-webkit-scrollbar {
  width: 8px;
  /* 滾輪寬度 */
}

body::-webkit-scrollbar-track {
  background: #1a1a1a;
  /* 深灰色軌道 */
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background: #666666;
  /* 中灰色滾動條 */
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #888888;
  /* 淺灰色懸停效果 */
}

/* 其他容器的滾輪樣式 */
.intro-container::-webkit-scrollbar,
.search-container::-webkit-scrollbar,
.parking-info-container::-webkit-scrollbar {
  width: 8px;
}

.intro-container::-webkit-scrollbar-track,
.search-container::-webkit-scrollbar-track,
.parking-info-container::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 4px;
}

.intro-container::-webkit-scrollbar-thumb,
.search-container::-webkit-scrollbar-thumb,
.parking-info-container::-webkit-scrollbar-thumb {
  background: #666666;
  border-radius: 4px;
}

.intro-container::-webkit-scrollbar-thumb:hover,
.search-container::-webkit-scrollbar-thumb:hover,
.parking-info-container::-webkit-scrollbar-thumb:hover {
  background: #888888;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}


.showpark {
  display: none;
}

.parking-marker.highlight {
  animation: blink 1s infinite;
  color: transparent;
  font-weight: bold;
}

/* 彈出圖片的樣式 */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.desktop-text {
  display: block;
}

.mobile-text {
  display: none;
}

h4 {
  margin: 0;
}

.mobile-sign img {
  position: relative;
  top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 109px;
  height: 47px;
}

.sign-text {
  position: relative;
  top: -8px;
}

.parking-info-text a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.parking-info-text a:hover {
  color: #ffcb78;
}

.footer-container-mvd {
  display: none;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
}

.footer-images-mvd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 420px;
}

#parking-home {
  width: 30px;
  height: 30px;
}

#mini {
  width: 20px;
  height: 20px;
}

/* RWD 設定 */
@media screen and (max-width: 768px) {

  /* 頁首設定 */
  header {
    flex-direction: row;
  }

  .nav-buttons {
    padding: 0;
    display: flex;
    justify-content: center;
    /* 水平置中 */
    align-items: center;
    /* 垂直置中 */
  }

  .header-images {
    align-items: center;
  }

  .parking-info-container {
    font-size: 0.8rem;
  }

  .parking-info-container h2 {
    width: 100%;
  }

  #parking-home {
    width: 20px;
    height: 20px;
  }

  #search-result table th,
  #search-result table td {
    font-size: 0.7rem;
  }

  #search-result table .company-name {
    font-size: 0.6rem;
  }

  .header-images img {
    width: 120px;
    padding-left: 20%;
    height: auto;
    object-fit: contain;
    /* 保持圖片比例 */
  }

  .parking-place {
    display: none;
  }

  .intro-container,
  .search-container,
  .parking-info-container {
    height: 100%;
    width: 98%;
  }

  .footer-container-mvd {
    flex-direction: column;
    text-align: center;
  }

  .desktop-text {
    display: none;
  }

  .mobile-text {
    display: block;
  }

  .search-container h2,
  .intro-container h2 {
    margin: 0 auto;
    font-size: 1.5rem;
  }

  .logo {
    display: none;
    height: 70%;
  }

  .parkintable {
    width: 23px;
    height: 23px;
  }

  .footer-logo-top {
    padding-top: 1rem;
  }


  .nav-buttons {
    width: 100%;
  }

  .nav-buttons button {
    /* font-size: 1rem; */
    width: 33%;
    /* 設定每個按鈕佔 30% 寬度 */
  }

  /* #parking-image,#result_with_circles {
  max-width: 390px;
  height: auto;
} */

  /* 頁尾設定 */
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-images {
    justify-content: center;
    margin-bottom: 20px;
  }

  .footer-contact {
    width: 100%;
    padding: 0 10px;
  }

  .contact-item {
    justify-content: center;
  }

  /* .parking-marker {
  font-size: 1rem;
} */

  .P1 {
    left: 90%;
    top: 50%;
  }

  .P2 {
    left: 58%;
    top: 21%;
  }

  .P3 {
    left: 34%;
    top: 30%;
  }

  .P4 {
    left: 25%;
    top: 61%;
  }

  .P5 {
    left: 71%;
    top: 71%;
  }

  .P6 {
    left: 12%;
    top: 68%;
  }

  .P7 {
    left: 31%;
    top: 38%;
  }

  .home-marker {
    width: 45px;
    height: 45px;
    left: 49%;
    top: 35%;
  }

}

.parking-place-text {
  display: none;
}

@media screen and (max-width: 480px) {

  /* 更小螢幕的額外設定 */
  .intro-container h2,
  .parking-info-container h2 {
    font-size: 1.5em;
  }

  .parkintable {
    width: 18px;
    height: 18px;
  }

  .intro-title {
    width: 95%;
  }

  .intro-title-center h2 {
    font-size: 1.2rem;
  }

  .company-name {
    max-width: 120px;
  }

  .intro-container {
    padding: 40px 0 40px 0;
    width: 100%;
    border-radius: 0;
  }

  .home-marker {
    left: 47%;
    top: 30%;
  }

  .intro-container p {
    font-size: 0.9rem;
  }

  #parking-image,
  #result_with_circles {
    width: 350px;
    /* 讓圖片適應容器 */
    height: auto;
  }

  .footer-logo {
    width: 100px;
    height: auto;
  }

  .footer-logo-top {
    padding-top: 1rem;
    max-width: 60%;
  }


  .nav-buttons button {
    font-size: 0.9rem;
    width: 30%;
    /* 設定每個按鈕佔 30% 寬度 */
  }


}

@media screen and (max-width: 300px) {
  .nav-buttons button {
    font-size: 0.5rem;
    width: 30%;
    /* 設定每個按鈕佔 30% 寬度 */
  }
}